<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/combine/npm/daisyui@5/base/reset.css,npm/daisyui@5/base/rootscrolllock.css,npm/daisyui@5/base/properties.css,npm/daisyui@5/base/svg.css,npm/daisyui@5/base/rootcolor.css,npm/daisyui@5/base/scrollbar.css,npm/daisyui@5/base/rootscrollgutter.css,npm/daisyui@5/components/button.css,npm/daisyui@5/components/menu.css,npm/daisyui@5/components/table.css,npm/daisyui@5/components/select.css,npm/daisyui@5/components/input.css,npm/daisyui@5/components/drawer.css,npm/daisyui@5/theme/light.css" rel="stylesheet" type="text/css" />
    <title>{{title}}</title>
</head>

<body>
    {{content}}
</body>

</html>
